<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments :: head"></div>
	<title>Le nostre pizze</title>
</head>

<body>
	<nav th:replace="fragments :: navbar('creaPizza')"></nav>
	<div class="container">
		
		<form id="pizza-form" th:object="${pizza}" th:action="${edit} ? @{/pizze/modifica/{id}(id=${pizza.id})} :  @{/pizze/nuova}" method="post">
		<ul>
		<li th:each="err : ${#fields.allErrors()}" th:text = "${err}" class="text-danger"></li   >
		</ul>
		<div class="row">
			<div class="col-8">
				<div class="row gy-2">
				<div class="col-9">
					<label class="form-label" for="name">Nome</label>
					<input  type="text" class="form-control" id="name" th:field="*{name}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
						<ul>
							<li th:each ="err: ${#fields.errors('name')}" th:text="${err}"></li >
						</ul>
					</div >
					
				</div>
				<div class="col-3">
					<label class="form-label" for="prezzo">Prezzo</label>
					<input  type="number" class="form-control" id="prezzo" step=".01" th:field="*{prezzo}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
						<ul>
							<li th:each ="err: ${#fields.errors('prezzo ')}" th:text="${err}"></li >
						</ul>
					</div >
				</div>
				<div class="col-12">
					<label class="form-label" for="description">Descrizione</label>
					<input type="text" class="form-control" id="description" th:field="*{descrizione}" >
					
				</div>
				<div class="col-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</div>
			</div>
			<div class="col-4">
				<h4>Ingredienti</h4 >
				<div class="form-check" th:each="i : ${ingredientiList}">
				  <input class="form-check-input" type="checkbox" th:value="${i.id}" th:id="|Ingredientie_${i.id}|" th:field="*{ingredienti}">
				  <label class="form-check-label" th:for="|Ingredientie_${i.id}|" th:text="${i.ingredientiNome}"></label>
				</div>
			</div>
		</form>
		</div>
		
	</div>



	<div th:replace="fragments :: scripts"></div>
</body>

</html>