<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments :: head"></div>
		<title>Le nostre pizze</title>
	</head>
	
	<body>
	
		<header>
		<div class="container-fluid">
		<img  src="resources/static/img/sfondoPizza.png"  th:src="@{img/sfondoPizza.png}">
		</header>
	<nav th:replace="fragments :: navbar('pizze')"></nav>
			<div class="container justify-content-center">
		
		
		<table class="table">
			<thead>
				<tr>
					<th class ="text-secondary  fs-3 "scope="col">Nome</th >
					<th class ="text-secondary text-center ms-2 fs-3"scope="col">Descrizione</th >
					<th class ="text-secondary text-end fs-3"scope="col">prezzo</th >
					<th></th>
					
					
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="pizza : ${pizze}">
					<td class="bg-success text-white ">
						<a class="btn btn-primary " th:text= "${pizza.name}" th:href="@{|/pizze/dettagli/ ${pizza.id}|}">Dettagli</a >
					</td>
					<td  class=" "th:text= ${pizza.descrizione}></td > 
					<td class="bg-danger text-white  " th:text=" | ${pizza.prezzo} &#8364; |"></td >
					<td class="">
						
						<a class="btn btn-primary mb-1 mb-sm-0" th:href="@{|/pizze/modifica/ ${pizza.id}|}"><i class="fas fa-edit"></i></a >
						<a class="btn btn-primary"  onclick="return confirm('Sei sicuro di voler eliminare questa pizza?')"th:href="@{|/pizze/cancella/ ${pizza.id}|}"><i class="far fa-trash-alt"></i></a>
					</td >
					
				</tr>
			</tbody>
		</table>
		
	
		<div class="col-3 ms-auto text-end">
			<a class="btn btn-primary "  th:href =@{pizze/nuova}><i class="fas fa-plus"></i>Nuova pizza</a>
		</div>
	</div>
	
	<div th:replace="fragments :: scripts"></div>
	</body>

</html>